.index-title{
    color: rgba(0,0,0,.84);
    margin-top:20px;
}
.index-sub{
    color: rgba(0,0,0,.54);

}
.index-text{
    margin-top:20px;
    color: rgba(0,0,0,.44);
}
.index-image{
    width: 400px;
}
.social-icon{
    color: rgba(0,0,0,.44);
    font-size:1.5rem;
}
.clock{
    margin-left: 25px;
}
.error{
    text-align: center !important;
}

/* Colors 
00ab6b -> 6000c0
038252, 1C9963-> 400080
*/
a {
    color: #6000c0
}
a:hover {
    color: #400080;
}
.jumbotron.fortags a {
    background: #400080 !important;
    border: #ffffff;
    border-width: 3px;
}
blockquote {
    border-left:4px solid #6000c0;
}
.alertbar input[type="submit"] {
    background-color:#400080;
    border:1px solid #400080;
}

/*
Fonts
Roboto -> Open Sans
*/

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
/* as per: https://stackoverflow.com/a/24076928/7607701 */
body {
    font-family: 'Open Sans',-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}